#Visual Studio
.vs/
.vs/slnx.sqlite
.vs/Projet_Platlog_Net/v16/.suo
Hector/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Hector/v16/.suo
Hector/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Hector/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Hector/obj/Debug/Hector.csproj.AssemblyReference.cache
.vs/Hector/v16/.suo
.vs/Projet_Platlog_Net/v16/.suo
.vs/slnx.sqlite
.vs/Hector/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Hector/obj/Debug/Hector.exe
Hector/obj/Debug/Hector.pdb
Hector/bin/Debug/Hector.SQLite
Hector/bin/Debug/Hector.pdb
Hector/bin/Debug/Hector.exe
